<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  <form [formGroup]="firstFormGroup" (ngSubmit)="onSubmit()">
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>Personal Details</ng-template>
        <mat-form-field>
          <input matInput placeholder="First name" formControlName="firstName" required>
        </mat-form-field> 
        <mat-form-field>
            <input matInput placeholder="Last name" formControlName="lastName" required>
          </mat-form-field><br>
          <mat-form-field>
            <input matInput placeholder="Phone Number" formControlName="phoneNumber" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" required>
          </mat-form-field><br>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>   
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <div [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Address</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address " formControlName="addressLines" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="City " formControlName="city" required>
        </mat-form-field><br>
         <mat-form-field>
       <!--<mat-label>Select an state</mat-label>--> 
        <mat-select placeholder="State" [(value)]="state" formControlName="state" >
          <mat-option *ngFor="let state1 of states" [value]="state1.abbreviation">
            {{state1.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Zip " formControlName="zipCode" required>
        </mat-form-field>
         <!-- <div><input type="hidden" formControlName="role" value="{["COACH"]}">-->

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
        </div>
    </mat-step>


    <mat-step [stepControl]="thirdFormGroup">
      <div [formGroup]="thirdFormGroup">
    <!--  <form [formGroup]="secondFormGroup"> -->
        <ng-template matStepLabel>Coach Details</ng-template>
        <mat-form-field>  
        <mat-label>Select an option</mat-label>
          <mat-select [(value)]="Ctype" formControlName="Ctype">
            <mat-option *ngFor="let type1 of coachType" [value]="type1.value">
              {{type1.viewValue}}
            </mat-option>
          </mat-select>
          <p> Selected Type: {{Ctype}} </p>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Credential e.g Cerified" formControlName="credential" required>
          </mat-form-field><br>
          <mat-form-field>
            <input matInput placeholder="No of experience" formControlName="experience" required>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Detail Description" formControlName="description" required></textarea>
          </mat-form-field>
          <button mat-button  type="submit">Submit</button>
        <div>
          <button mat-button matStepperPrevious>Back</button>
         <!-- <button mat-button matStepperNext>Next</button>-->
        </div>
    </div>
    
    </mat-step>
    <!--<mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>-->
  </mat-horizontal-stepper>
</form>
  
  <br>  
1st Form Values : {{ firstFormGroup.value | json }} <br><br>
2nd Form Values : {{ secondFormGroup.value | json }} <br><br>
3rd Form Values : {{ thirdFormGroup.value | json }} <br><br>


Cust Info Form Valid: {{ firstFormGroup.get('firstName').valid }} <br>
Cust Contact Form Valid: {{ firstFormGroup.get('lastName').valid }} <br>
Financial Info Form Valid: {{ firstFormGroup.get('email').valid }} <br>
Additional Info Form Valid: {{ secondFormGroup.get('addressLines').valid }} <br>
Second Form group:


<br>