
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="sign">
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal" >Customer Registration</h1>
        </div>
        <!--Row starts -->
       <div class="form-row">
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label for="email" class="control-label">Email</label>
                    <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.valid }" autocomplete="off" placeholder="Email"/>
                    <div *ngIf="f.email.errors" class="invalid-feedback">
                        <div class="invalid-feedback" *ngIf="f.email.required">
                            Please enter your email
                        </div>
                        <div *ngIf="f.email.errors?.email" class="invalid-feedback">
                            Please enter a valid email address
                        </div>
                </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" autocomplete="off" placeholder="Password"/>
                    <div *ngIf="f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
            </div>
        </div>
  <!--Row Ends-->
<!--Row start-->
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label for="firstName" class="control-label">First Name</label>
                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.get('firstName').errors }" autocomplete="off" placeholder="First Name" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label for="lastName" class="control-label">Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && registerForm.get('lastName').errors }" placeholder="Last Name"/>
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                    </div>
                </div>
            </div>
        </div>
<!--Row End-->
<!--Row start-->
<div class="form-row">
    <div class="form-group col-md-6">
        <div class="form-group">
            <label for="phoneNumber" class="control-label">Phone Number</label>
            <input type="text" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" placeholder="Phone Number"/>
            <div class="invalid-feedback">
                Please enter phone Number
            </div>
        </div>
    </div>
    <!--<div><input type="hidden" formControlName="role" value="USER">
    </div>-->
    <div class="form-group col-md-6">
        <button class="btn btn-lg btn-primary btn-block" type="submit" >Register</button>
    </div>
 </div>   
 <!--Row End-->
<!-- <div>
        <button type="button" size="40"  name="Submit" (click)="createCustomer()" >Submit</button>
    </div>
    -->
    </form>
    <!--Debugging Values-->

<br><br>  
Form Values : {{ registerForm.value | json }} <br><br>

Cust Info Form Valid: {{ registerForm.get('firstName').valid }} <br>
Cust Contact Form Valid: {{ registerForm.get('lastName').valid }} <br>
Financial Info Form Valid: {{ registerForm.get('email').valid }} <br>
Additional Info Form Valid: {{ registerForm.get('password').valid }} <br>
<br>

