<header class="header-sticky header-dark headroom headroom--top headroom--not-bottom">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light background-sky">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <a class="navbar-brand" routeLink="home">My Community</a>
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Categories
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
                    <a class="dropdown-item" routeLink="coach">Coach</a>
                    <a class="dropdown-item" href="#">Travel</a>
                    <a class="dropdown-item" href="#">Technology</a>
                    <a class="dropdown-item" href="#">Religious</a>
                    <a class="dropdown-item" href="#">Food</a>
                    <a class="dropdown-item" href="#">Yoga</a>
                    <a class="dropdown-item" href="#">Do Your Own</a>
                    <a class="dropdown-item" href="#">Social</a>
                    <a class="dropdown-item" href="#">Kids</a>

                  </div>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
               </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="nav-item active"><a class="nav-link ul" routerLink="./coach" ><u>Coach</u></a></li>
                <li class="nav-item active"><a class="nav-link ul" routerLink="/login" ><u>Sign In</u></a></li>
                <li class="nav-item active"><a class="nav-link" routerLink="/register" ><u>Become a Member</u></a></li>
                <li class="nav-item active"><a class="nav-link" routerLink="#" ><b><u>All Access Pass</u></b></a></li>
              </ul>
              </div>
          </nav>
    </div>
  </header>