<!--<app-customerlogin></app-customerlogin>
<app-customer-registration></app-customer-registration>
 -->
 <html>
  <body>
        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-interval="5000">
              <!--
              <img src="..." class="d-block w-100" alt="...">
            -->
            <div class="container ">
              <div class="jumbotron">
                 <h1>Learn from our Community </h1>   
                 <h3>Travel Plan and Itinerary</h3>
                 <h3>Online Yoga Class</h3>
                 <h3>Kids Costom and Cultural Education</h3>
                <h3>Do it by Your self - Become a handyman </h3>
                </div>
            </div>
            </div>
            <div class="carousel-item" data-interval="2000">
              <!--
              <img src="..." class="d-block w-100" alt="...">
            -->
            <div class="container">
              <div class="jumbotron">
                 <h1>Learn from our Community </h1>   
                 <h3>College Plan</h3>
                 <h3>Home Buying Tips</h3>
                 <h3>Cooking Recipes and classes</h3>
                 <h3>Event Managments</h3>
                 
                </div>
            </div>
            </div>
            <div class="carousel-item" data-interval="2000">
              <!--
              <img src="..." class="d-block w-100" alt="...">
              -->
              <div class="container ">
                <div class="jumbotron">
                   <h1>Learn from our Community </h1>   
                   <h3>Investment managent</h3>
                   <h3>Health and Life Insurance</h3>
                   <h3>Native language classes</h3>
                   <h3>Birthday Party Ideas</h3>
                  </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev " href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon btn-outline-success" aria-hidden="true" ></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        
      <div class="container ">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
 <div class="container" class="container-fluid">
<div class="row my-5">
        <div class="col-sm-6 col-md-4 mb-4">
          <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item lazy loaded" data-src="https://www.youtube-nocookie.com/embed/HaRaIUArXbs?rel=0" title="YouTube Video" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" width="760" height="570" allowfullscreen="" src="https://www.youtube-nocookie.com/embed/HaRaIUArXbs?rel=0" data-was-processed="true"></iframe>
    </div>
    <h2 class="h5 mb-0">
            <a href="/2019/12/14/bootstrap-icons-alpha2/">Ruchika Bollywood Dance</a>
          </h2>
          <small class="text-muted">14 Dec 2019</small>
        </div>
        <div class="col-sm-6 col-md-4 mb-4">
          <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item lazy loaded" data-src="https://www.youtube-nocookie.com/embed/n_Y9jJv1p7s?rel=0" title="YouTube Video" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" width="760" height="570" allowfullscreen="" src="https://www.youtube-nocookie.com/embed/n_Y9jJv1p7s?rel=0" data-was-processed="true"></iframe>
    </div>
    <h2 class="h5 mb-0">
            <a href="/2019/11/28/bootstrap-4-4-1/">Fund Raising Dance 1</a>
          </h2>
          <small class="text-muted">28 Nov 2019</small>
        </div>
        <div class="col-sm-6 col-md-4 mb-4"><div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item lazy loaded" data-src="https://www.youtube-nocookie.com/embed/n_Y9jJv1p7s?rel=0" title="YouTube Video" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" width="760" height="570" allowfullscreen="" src="https://www.youtube-nocookie.com/embed/n_Y9jJv1p7s?rel=0" data-was-processed="true"></iframe>
    </div>
    <h2 class="h5 mb-0">
            <a href="/2019/11/26/bootstrap-icons/">Fund Raising Dance 2</a>
          </h2>
          <small class="text-muted">26 Nov 2019</small>
        </div>
        <div class="col-sm-6 col-md-4 mb-4"><div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item lazy loaded" data-src="https://www.youtube-nocookie.com/embed/fOQ7ZekMhr8?rel=0" title="YouTube Video" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" width="760" height="570" allowfullscreen="" src="https://www.youtube-nocookie.com/embed/fOQ7ZekMhr8?rel=0" data-was-processed="true"></iframe>
    </div>
    <h2 class="h5 mb-0">
            <a href="/2019/11/26/bootstrap-4-4-0/">Ria's Fundraising Dance</a>
          </h2>
          <small class="text-muted">26 Nov 2019</small>
        </div>
        <div class="col-sm-6 col-md-4 mb-4"><div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item lazy loaded" data-src="https://www.youtube-nocookie.com/embed/2HuiH-0R6a0?rel=0" title="YouTube Video" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" width="760" height="570" allowfullscreen="" src="https://www.youtube-nocookie.com/embed/2HuiH-0R6a0?rel=0" data-was-processed="true"></iframe>
    </div>
    <h2 class="h5 mb-0">
            <a href="/2019/07/24/lts-plan/">Dont Lookback</a>
          </h2>
          <small class="text-muted">24 Jul 2019</small>
        </div>
        </div>
        </div>
        </body>
      </html>